# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Logs
*.log
*.logfile
logfile

# Build
build/
dist/
*.egg-info/

# IDE / Editor
.vscode/
.idea/

# Database lokal (opsional)
*.db
*.sqlite3